kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid grey;
}

/*for heading words */
.u-clickable {
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

/* main body font */
body {
  font: 17px/1.55 "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #000000;
  font-weight: 400;
}

code, pre, email {
  font-family: "IBM Plex Mono", Menlo, Consolas, monospace;
}

/* top navigation */
nav.u-background > .u-wrapper {
  max-width: none;
  width: 100%;
}

nav .Banner {
  align-items: center;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: flex-end;
  min-height: 2.8rem;
  padding: 0 1rem;
}

nav .Banner-item {
  align-items: center;
  display: flex;
  order: initial !important;
}

nav .Banner-item--title {
  flex-grow: 0;
  margin-right: auto;
}

nav .Banner-heading {
  align-items: center;
  display: flex;
  font-size: inherit;
  font-weight: inherit;
}

nav .Banner-link {
  line-height: 1.25;
}

/* for linked words */
a {
  font-weight: normal;
  text-decoration: underline;
  color: #005587;
}

/* for bold words */
strong, b {
  font-weight: 640;
}

/* for the block of list and its context */
ul, ol {
  margin-left: -12px;
}

/* for each line within the list */
li {
  margin-top: 0px;
  margin-bottom: 0px;
}

html {
  scroll-behavior: smooth;
}




